
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div>
  <h4 class="admin_logo">
   Admin Dashboard
  </h4>
  </div>
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
       
       <div  class="side_div d-flex list-group-item list-group-item-action py-2 ripple active">
         <i  class="fas fa-user-alt	 fa-fw me-3"></i>
         <%=link_to "Users" ,users_path 
         
          %>
        </div>
         <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fas fa-tachometer-alt fa-fw me-3"></i>
         <%=link_to "Categories" ,categories_path 
         
          %>
        </div>
         <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fas fa-tachometer-alt fa-fw me-3"></i>
         <%=link_to "Products" ,products_path 
         
          %>
        </div>
         <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fas fa-tachometer-alt fa-fw me-3"></i>
         <%=link_to "Stores" , stores_path 
         
          %>
        </div> 
             <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fas fa-tachometer-alt fa-fw me-3"></i>
         <%=link_to "Orders" ,users_path 
         
          %>
        </div> 
          <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fas fa-tachometer-alt fa-fw me-3"></i>
         <%=link_to "Sub products" , product_categories_path 
         
          %>
        </div> 
           <div  class="list-group-item list-group-item-action py-2 ripple">
         <i  class="fa fa-sign-out me-3"></i>
         <%=link_to "Log out" ,sign_out_path 
         
          %>
        </div> 
      </div>
    </div>
  </nav>
