<%= form_with(model: @user) do |user|  %>


<div class = "form">
<%=  user.label :name ,  class:"form-label" %>
<%= user.text_field :name , class:"form-control" %>

<%= user.label :email ,  class:"form-label"%>
<%= user.text_field :email , class:"form-control" %>

<%= user.label :role,  class:"form-label" %>
<%= user.text_area  :role, class:"form-control" %>

</br>
<%= user.submit  class:"btn btn-secondary"%>
</div>
<%end%>